.software
  &_icon
    width 11.76%
    svg 
      width 100%
      height 100%

  &_title
    padding-left 3%
    padding-top 1px
    font-family MyriadPro-bold  
    letter-spacing 0.2px
    color mainColor
    font-size: 45.33px

  &_line
    height 5px
    margin 5px 0px 0px 3.7%
    width 50%
    background mainColor

  &_all
    display flex
    flex-direction row
    justify-content flex-start
    flex-wrap nowrap
    align-items center
    position relative
    margin-top 56px
    margin-bottom 28px

  &_name-program
    &__left
    &__right
      padding-left 2.58%
      font-size: 28.33px
      margin-bottom 15px
      
  &_program-block 
    &__left
    &__right
      height 24px
      width 87.8%
      background secondeColor
      margin-bottom 25px

    &__inside
      background mainColor
      height 100%

@media only screen and (min-width: 470px) 
  .software
    &_block
      &__left
        width 50%
        float left
      &__right
        width 50%
        float right

    &_name-program
      &__right
        margin-left 9.58%
      
    &_program-block 
      &__left      
        margin-left 2.29%
      &__right
        margin-left 11.56%