.circle 
  position absolute
  width 87.9%
  padding-bottom 87.79%
  background-color #3d6cb0
  border-radius: 50%
  margin-top 5.9%
  margin-left 6.4%

.circle_border
  position relative
  width 55.82%
  padding-bottom 55.82%
  border 1px solid #3d6cb0
  border-radius: 50%;
  margin-left 23.95%
  margin-top 13px