.experience_icon
  display inline-block
  width 12.05%
  svg 
    width 100%
    height 100%

.experience_title
  display inline-block
  position relative
  font-family MyriadPro-bold  
  letter-spacing 0.2px
  color #3d6cb0
  font-size: 45.33px
  vertical-align top
  padding-top 14px
  padding-left 15px
  padding-right 1px
  background white
  z-index 50

.experience_line
  position absolute
  width 50%
  right 0
  top 38px
  height 5px
  background #3d6cb0

.experience_all
  position relative

.experience_name
  display inline-block
  font-family MyriadPro-bold 
  font-size 28.33px
  color #3d6cb0
  
.experience_months
  display inline-block
  font-size 28.33px

.experience_job
  font-size 28.33px