@import '../../common.blocks/_common/fonts.styl'
@import '../../common.blocks/_common/style.styl'
@import "../../common.blocks/page/_left/page_left.styl"
@import "../../common.blocks/page/_right/page_right.styl"