.profile_icon
  display inline-block
  width 18.02%
  svg 
    width 100%
    height 100%

.profile_title
  display inline-block
  position relative
  font-family MyriadPro-bold  
  letter-spacing 0.2px
  color #3d6cb0
  font-size: 45px
  vertical-align top
  padding-top 12px
  padding-left 7px
  padding-right 8px
  background white
  z-index 50

.profile_line
  position absolute
  width 50%
  right 0
  top 36px
  height 5px
  background #3d6cb0

.profile_all
  position relative

.profile_text
  padding-top 10px
  line-height 20.5px
  letter-spacing 0.01px
  margin-bottom 51px

.profile_text span
  font-family MyriadPro-bold  
  line-height 20.8px
  letter-spacing 0.01px