mixin education_degree(master, months, university, text)
  .education_degree 
    .education_circle
    .education_master= master
    .education_months= months
  .education_university= university
  .education_text= text