.education
  &_icon
    width 11.76%
    svg 
      width 100%
      height 100%

  &_title
    padding-left 3%
    padding-bottom 8px
    font-family MyriadPro-bold  
    letter-spacing 0.2px
    color mainColor
    font-size: 2.8125rem

  &_line
    height 5px
    margin 0px 0px 8px 1.4%
    width 50%
    background mainColor

  &_all
    display flex
    flex-direction row
    justify-content flex-start
    flex-wrap nowrap
    align-items center
    margin-bottom 25px

  &_master  
    display inline-block
    font-family MyriadPro-bold 
    font-size 1.75rem
    color mainColor
    margin-right 1.57%
    margin-bottom 4px

  &_months
    display inline-block
    font-size 1.75rem

  &_university
    font-size 1.75rem
    padding-bottom 9px
    margin-left 8.17%


  &_circle
    display inline-block
    width 3.15%
    padding-bottom 3.15%
    background-color black
    border-radius: 50%
    margin-left 2%
    margin-right 2.72%

  &_text
    margin-left 8.75%
    padding-bottom 16px