@import "../../circle/circle.styl"
@import "../../nameSurname/_name/nameSurname_name.styl"
@import "../../nameSurname/_surname/nameSurname_surname.styl"
@import "../../nameSurname/_qualification/nameSurname_qualification.styl"
@import "../../profile/profile.styl"
@import "../../contact/contact.styl"
@import "../../skills/skills.styl"
  
@media only screen and (min-width: 1036px) 
  .page_left
    float left
    width 36.81%

@media only screen and (max-width: 1035px) 
  .page_left
    max-width 800px
    margin 0px auto 50px auto