@import "../../circle/circle.styl"
@import "../../nameSurname/_name/nameSurname_name.styl"
@import "../../nameSurname/_surname/nameSurname_surname.styl"
@import "../../nameSurname/_qualification/nameSurname_qualification.styl"
@import "../../profile/profile.styl"

.page_left
  float left
  width 36.81%