@font-face 
    font-family 'Conv_pt-sans'
    src url('../../fonts/pt-sans.eot')
    src local('☺'), url('../../fonts/pt-sans.woff') format('woff'), url('../../fonts/pt-sans.ttf') format('truetype')
    font-weight normal
    font-style normal