@import 'variables.styl'
  
body 
  font-family MyriadPro-Regular
  font-size 1.0625rem

.page
  width 90.48%
  max-width 1366px
  min-width 474px
  margin 0 auto
  margin-top 42px
  overflow hidden

.page_over
  max-width 1366px
  margin 0 auto