.skills
  &_icon
    display inline-block
    width 17.36%
    margin-bottom 21px
    svg 
      width 100%
      height 100%

  &_title
    display inline-block
    position relative
    font-family MyriadPro-bold  
    letter-spacing 0.2px
    color mainColor
    font-size: 45px
    vertical-align top
    padding-top 11px
    padding-left 7px
    padding-right 15px
    background white
    z-index 50

  &_line
    position absolute
    width 50%
    right 0
    top 35px
    height 5px
    background mainColor

  &_all
    position relative

  &_creative
  &_teamwork
  &_innovate
  &_communication
    text-align center
    font-size 28.33px
    padding-left 2px
    margin-bottom 11px

  &_circle__maincolor
    display inline-block
    width 4.19%
    padding-bottom 4.19%
    border-radius 50%
    background mainColor
    margin-right 2.38%

  &_circle__secondColor
    display inline-block
    width 4.19%
    padding-bottom 4.19%
    border-radius 50%
    background secondeColor
    margin-right 2.38%

  &_diagram
    padding-left 51px
    margin-bottom 20px